{% extends 'layout.html' %}

{% block title %}About{% endblock %}

{% block class %}about{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block menuright %}
{% endblock %}
  
{% block content %}

<p>
  <img src="/images/team.jpg" />
</p>

<p>
  Fetch makes it easier than ever to find a dog. It is an easy to use
  application to browse available dogs from shelters, rescue organizations
  and breeders that uses a first of its kind standardized pre-approval form.
  Fetch is revolutionizing the process of buying or adopting a dog.
</p>
<p>
  Fetch is addictive and fun.
</p>
<p>
  It all started with the realization that there are many websites and apps out
  there that point us in the direction of dogs to adopt but there isn’t one site
  that brings it all together in an informative and engaging way that leads
  directly to finding a dog to take home.
</p>
<p>
  The Fetch experience is designed to replicate a site that focuses on finding
  friends. After all, your dog will become your best friend. We interact in real
  life through online and in-person. Shouldn’t the dog adoption process do the
  same?
</p>

{% endblock %}

