{% extends 'layout.html' %}

{% block title %}Browse{% endblock %}

{% block class %}browse{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block menuright %}
  <a id="filter-link" class="btn btn-default" href="#">Filter</a>
{% endblock %}
  
{% block content %}

<ul class="pet-container">
  <li class="pet summary">
    <div class="pet-images">
      <img src="/images/promoted1.jpg" />
      <!-- <img src="/images/promoted2.jpg" /> -->
    </div>
    <div class="pet-name">
      Lucy
    </div>
    <div class="pet-actions">
      <a href="#">Favorite</a>
      <a href="/info/12345">Info</a>
      <a href="#">Share</a>
    </div>
  </li>
</ul>

{% endblock %}

{% block panel %}

  <nav id="filter-settings">
    <h1>Find your bestie</h1>
    <ul>
      <li>
        <div class="section">
          <h2>Size</h2>
          <div id="size">
            <input type="radio" name="size" id="size-small" />
            <label for="size-small">Small</label>
            <input type="radio" name="size" id="size-medium" />
            <label for="size-medium">Medium</label>
            <input type="radio" name="size" id="size-large" />
            <label for="size-large">Large</label>
          </div>
        </div>
      </li>
      <li>
        <div class="section">
          <h2>Breed</h2>
          <select>
            <option>Any</option>
            <option>Golden</option>
            <option>Bulldog</option>
            <option>Something else</option>
          </select>
        </div>
      </li>
      <li>
        <div class="section">
          <h2>Age</h2>
          <div id="age">
            <input type="radio" name="age" id="age-puppy" />
            <label for="age-puppy">Puppy</label>
            <input type="radio" name="age" id="age-adult" />
            <label for="age-adult">Adult</label>
            <input type="radio" name="age" id="age-senior" />
            <label for="age-senior">Senior</label>
          </div>
        </div>
      </li>
      <li>
        <div class="section">
          <h2>Location</h2>
          <a href="#" id="current-location" class="btn btn-default">◎</a>
          <input type="text" value="Pittsburgh, PA" />
          <div id="distance">
            <input type="radio" name="distance" id="distance-25" />
            <label for="distance-25"> 25 </label>
            <input type="radio" name="distance" id="distance-50" />
            <label for="distance-50"> 50 </label>
            <input type="radio" name="distance" id="distance-100" />
            <label for="distance-100"> 100+ </label>
          </div>
        </div>
      </li>
      <li>
        <div class="section">
          <h2>Sex</h2>
          <div id="sex">
            <input type="radio" name="sex" id="sex-female" />
            <label for="sex-female">Female</label>
            <input type="radio" name="sex" id="sex-male" />
            <label for="sex-male">Male</label>
          </div>
        </div>
      </li>
    </ul>
  </nav>

{% endblock %}
