{% extends 'layout.html' %}

{% block title %}Browse{% endblock %}

{% block class %}browse{% endblock %}

{% block head %}
  {% parent %}
  <script src="/javascript/browse.js" />
{% endblock %}

{% block menuright %}
  <a id="filter-link" class="btn btn-link" href="#">Filter</a>
{% endblock %}
  
{% block content %}

<ul class="pet-container">
  <li id="pet-template" class="pet summary" style="display: none;">
    <div class="pet-images">
    </div>
    <h2 class="pet-name">Lucy</h2>
    <div class="pet-actions row">
    	<div class="col-xs-3">
	      <a href="#" class="pet-favorite-link btn btn-link"><i class="icon-heart-filled"></i></a>
	    </div>
	    <div class="col-xs-6">
	      <a href="#" class="pet-info-link btn btn-link">more info</a>
	     </div>
	     <div class="col-xs-3">
	      <a href="#" class="pet-share-link btn btn-link"><i class="icon-export"></i></a>
	     </div>
    </div>
  </li>
</ul>

<script>
  {% if id %}
    var displayId = {{ id }};
  {% else %}
    var displayId = null;
  {% endif %}
</script>

{% endblock %}

{% block panel %}

  <nav id="filter-settings">
    <h1>Find your bestie</h1>
    <ul>
      <li>
        <div class="section">
          <h2>Size</h2>
          <div id="size">
            <input type="radio" name="size" id="size-small" value="S" />
            <label for="size-small">Small</label>
            <input type="radio" name="size" id="size-medium" value="M" />
            <label for="size-medium">Medium</label>
            <input type="radio" name="size" id="size-large" value="L" />
            <label for="size-large">Large</label>
          </div>
        </div>
      </li>
      <li>
        <div class="section">
          <h2>Breed</h2>
          <select id="breed">
            <option value="any">Any</option>
          </select>
        </div>
      </li>
      <li>
        <div class="section">
          <h2>Age</h2>
          <div id="age">
            <input type="radio" name="age" id="age-puppy" value="Young" />
            <label for="age-puppy">Puppy</label>
            <input type="radio" name="age" id="age-adult" value="Adult" />
            <label for="age-adult">Adult</label>
            <input type="radio" name="age" id="age-senior" value="Senior" />
            <label for="age-senior">Senior</label>
          </div>
        </div>
      </li>
      <li>
        <div class="section">
          <h2>Location</h2>
          <a href="#" id="current-location" class="btn btn-default">◎</a>
          <input id="location" type="text" value="Pittsburgh, PA" />
          <h2>Distance</h2>
          <div id="distance">
            <input type="radio" name="distance" id="distance-25" />
            <label for="distance-25"> 25 </label>
            <input type="radio" name="distance" id="distance-50" />
            <label for="distance-50"> 50 </label>
            <input type="radio" name="distance" id="distance-100" />
            <label for="distance-100"> 100+ </label>
          </div>
        </div>
      </li>
      <li>
        <div class="section">
          <h2>Sex</h2>
          <div id="sex">
            <input type="radio" name="sex" id="sex-female" value="F" />
            <label for="sex-female">Female</label>
            <input type="radio" name="sex" id="sex-male" value="M" />
            <label for="sex-male">Male</label>
          </div>
        </div>
      </li>
    </ul>
  </nav>

{% endblock %}
