{% extends 'layout.html' %}

{% block title %}Browse{% endblock %}

{% block class %}browse{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block menuright %}
  <a id="filter-link" class="btn btn-default" href="#">Filter</a>
{% endblock %}
  
{% block content %}

<ul class="pet-container">
  <li class="pet summary">
    <div class="pet-images">
      <img src="/images/promoted1.jpg" />
      <!-- <img src="/images/promoted2.jpg" /> -->
    </div>
    <div class="pet-name">
      Lucy
    </div>
    <div class="pet-actions">
      <a href="#">Favorite</a>
      <a href="#">Info</a>
      <a href="#">Share</a>
    </div>
  </li>
</ul>

{% endblock %}

{% block panel %}

  <nav id="filter-settings">
    <h1>Find your bestie</h1>
    <ul>
      <li>
        <div class="section">
          <h2>Size</h2>
          <div id="size">
            <input type="radio" name="size" id="size-small" />
            <label for="size-small">Small</label>
            <input type="radio" name="size" id="size-medium" />
            <label for="size-medium">Medium</label>
            <input type="radio" name="size" id="size-large" />
            <label for="size-large">Large</label>
          </div>
        </div>
      </li>
      <li>
        <div class="section">
          <h2>Breed</h2>
          <select>
            <option>Any</option>
            <option>Golden</option>
            <option>Bulldog</option>
            <option>Something else</option>
          </select>
        </div>
      </li>
      <li>
        <div class="section">
          <h2>Age</h2>
        </div>
      </li>
      <li>
        <div class="section">
          <h2>Location</h2>
        </div>
      </li>
      <li>
        <div class="section">
          <h2>Sex</h2>
        </div>
      </li>
    </ul>
  </nav>

{% endblock %}
