{% extends 'layout.html' %}

{% block title %}Favorites{% endblock %}

{% block class %}favorites{% endblock %}

{% block head %}
  {% parent %}
  <script src="/javascript/browse.js"></script>
  <script src="/javascript/info.js"></script>
  <script src="/javascript/favorites.js" />
{% endblock %}

{% block content %}
  <section class="favorite-container">
    <article id="favorite-template" class="favorite" data-info-url="#" style="display: none;">
      <a class="favorite-item" href="#">
      	<h2 class="favorite-name">Lucy</h2>
        <div class="fav-image">
        	<img src="#" class="favorite-image" />
        </div>
        <div class="favorite-description">
          <p class="favorite-status">
            Available
          </p>
          <p class="favorite-location">
            Pittsburgh, PA
          </p>
          <a href="#" class="favorite-item btn btn-primary col-xs-12">View</a>

          <a href="#" class="favorite-item btn btn-success col-xs-12">Reserve</a>
        </div>
        <div class="clearfix visible-xs"></div>
      </a>
    </article>
  </section>

  <article class="empty-favorites">
    <p>You currently have no favorites saved.</p>
    <br />
    <p>
      <a class="btn btn-primary col-xs-12" href="/browse">Browse</a>
    </p>
  </article>

  <script>
    {% if id %}
      var displayId = {{ id }};
    {% else %}
      var displayId = null;
    {% endif %}
  </script>
{% endblock %}
