{% extends 'layout.html' %}

{% block title %}Fetch{% endblock %}

{% block class %}index{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}

  <h1 class="logo">Fetch</h1>

  <p class="pitch">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

  <div id="featured"></div>
  
  <div class="buttons">
	  <div class="col-xs-6"><a href="/login" class="btn btn-primary btn-block">Sign In</a></div>
	  <div class="col-xs-6"><a href="/browse" class="btn btn-success btn-block">Get Started</a></div>
  </div>
  <div class="clearfix visible-xs"></div>

{% endblock %}
