{% extends 'layout.html' %}

{% block title %}Fetch{% endblock %}

{% block class %}index{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}

  <h1 class="logo">
    Fetch!!!
  </h1>

  <p>
    Here is some introductory text.
  </p>

  <div class="promoted">
    <img src="/images/promoted1.png" />
    <img src="/images/promoted2.jpg" />
  </div>

  <div class="buttons">
    <a href="/login" class="btn btn-default">Login</a>
    <a href="/browse" class="btn btn-default">Start Browse</a>
  </div>

{% endblock %}
