{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block class %}info{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block menuleft %}
  <a id="back-link" class="btn btn-link" href="/browse"><i class="icon-left-open"></i></a>
{% endblock %}

{% block menuright %}
  <!-- <a id="filter&#45;link" class="btn btn&#45;default" href="#">Filter</a> -->
{% endblock %}
  
{% block content %}

<div class="pet-image"></div>

<section class="pet">
	<article class="info">
		<h2 class="pet-name"></h2>
		<div class="pet-age-sex"></div>
		<div class="pet-breed"></div>
		
		<a id="reserve-pet" class="col-xs-12 btn btn-success btn-lg" href="/reservation">Reserve</a>
	</article>

	<hr />

	<article class="pet-description">
		<h3>About <span class="pet-name"></span></h3>
	</article>
	
	<hr />

	<article class="breeder">
		<h3 class="breeder-name"></h3>
		
		<address class="breeder-address"></address>
		
		<a href="tel:" class="btn btn-primary col-xs-12"><i class="icon-phone"></i> <span class="breeder-phone"></span></a>
		<a href="mailto:" class="btn btn-primary col-xs-12"><i class="icon-mail"></i> <span class="breeder-email"></span></a>
		
		<div class="breeder-map">
		  <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?t=m&amp;q=Animal+Advocates&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=40.438978,-80.034456&amp;spn=0.019598,0.025749&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?t=m&amp;q=Animal+Advocates&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=40.438978,-80.034456&amp;spn=0.019598,0.025749&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		</div>
		<br />
		<a href="#" class="btn btn-primary col-xs-12"><i class="icon-direction"></i> Get Directions</a>
	</article>
	
	<hr />
</section>
{% endblock %}

{% block panel %}

{% endblock %}
