@font-face {
  font-family: 'fetch-icons';
  src: url('../font/fetch-icons.eot?24849769');
  src: url('../font/fetch-icons.eot?24849769#iefix') format('embedded-opentype'),
       url('../font/fetch-icons.woff?24849769') format('woff'),
       url('../font/fetch-icons.ttf?24849769') format('truetype'),
       url('../font/fetch-icons.svg?24849769#fetch-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fetch-icons';
    src: url('../font/fetch-icons.svg?24849769#fetch-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fetch-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-target-1:before { content: '\e80e'; } /* '' */
.icon-guidedog:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e813'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-heart-filled:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-export:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-warning:before { content: '\e814'; } /* '' */
.icon-location:before { content: '\e80c'; } /* '' */
.icon-direction:before { content: '\e80b'; } /* '' */
.icon-compass:before { content: '\e80a'; } /* '' */
.icon-phone:before { content: '\e812'; } /* '' */
.icon-menu-1:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e80f'; } /* '' */
.icon-right-open:before { content: '\e810'; } /* '' */
.icon-target:before { content: '\e80d'; } /* '' */
.icon-bell:before { content: '\e811'; } /* '' */