/*
Fetch color scheme
	red: 		#d85339 - headers
	grey: 		#52504c - text
	tan:		#e7e6e2 - background
	med tan:	#cccccc - borders
	gold:		#fbd645 - verified
*/



body {
	background-color: #e7e6e2;
	font-family: "Open Sans", helvetica, arial, sans-serif;
	color: #52504c;
}
h1 {
	color: #d85339;
	font-family: "Bree", helvetica, arial, sans-serif;
}

/* for devices with normal screens */
h1.logo {
	margin: 0 auto;
	width: 232px;
	height: 86px;
	background: url('../images/fetch_logo.png') top center no-repeat;
	text-indent: -9999px;
	display: block;
}
#featured {
	margin: 0 auto;
	width: 320px;
	height: 200px;
	background: url('../images/featured.png') top center no-repeat;
	text-indent: -9999px;
	display: block;
}
/* for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    h1.logo {
		margin: 0 auto;
		width: 464px;
		height: 171px;
		background: url('../images/fetch_logo_2x.png') top center no-repeat;
		background-size: 232px 86px;
		text-indent: -9999px;
		display: block;
	}
	#featured {
		margin: 0 auto;
		width: 320px;
		height: 200px;
		background: url('../images/featured_2x.png') top center no-repeat;
		background-size: 320px 200px;
		text-indent: -9999px;
		display: block;
	}
}
.pitch {
	margin: 20px auto;
	width: 70%;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
}
a.button {
	font-family: "Bree", helvetica, arial, sans-serif;
}
footer {
	margin: 40px 0;
	text-align: center;
}

.container {
  padding: 0;
}

.mmenu {
  /* padding: .5em; */
}

.mmenu ul {
  padding-top: 0;
}

.mmenu h1 {
  margin-left: 1em;
}

.mmenu h1,
.mmenu h1 a {
  color: rgba( 255, 255, 255, 0.6 );
  font-size: 20px;
}

.mmenu a.btn-default {
  background-color: white;
}

#main-header {
  padding: .5em;
}

#main-header-left-btn {
  float: left;
}
#main-header-right-btn {
  float: right;
}

#main-header-title {
  font-size: 2em;
  color: red;
  text-align: center;
  
}

/* Hide header on landing page */
body.index #main-header {
  display: none;
}

.promoted {
}

.promoted img {
  max-width: 500px;
  width: 49%;
  
}

.buttons {
  margin-top: 1em;
}

/* Browse */
.pet-container {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pet-container .pet-images img {
  width: 100%;
}

.pet-container .pet-images {
}

#filter-settings h1 {
  padding-left: 65px;
}
#filter-settings .section {
  padding-left: 1em;
  padding-bottom: 1em;
}
#filter-settings #distance {
  margin-top: .5em;
}
