/*
Fetch color scheme
	red: 		#d85339 - headers
	grey: 		#52504c - text
	tan:		#e7e6e2 - background
	med tan:	#cccccc - borders
	gold:		#fbd645 - verified
*/


body {
	max-width: 568px;
	margin: 0 auto;
	padding-top: 72px;
	background-color: #e7e6e2;
	font-family: "Open Sans", helvetica, arial, sans-serif;
	color: #52504c;
}
h1 {
	color: #d85339;
	font-family: "Bree", helvetica, arial, sans-serif;
}
nav .btn-link {
	color: #52504c;
}
body.browse #main-header-title {
	margin: 0 auto;
	width: 108px;
	height: 40px;
	background: url('../images/fetch_logo.png') top center no-repeat;
	background-size: 108px 40px;
	text-indent: -9999px;
	display: block;
}

/* for devices with normal screens */
h1.logo {
	margin: 0 auto;
	width: 232px;
	height: 86px;
	background: url('../images/fetch_logo.png') top center no-repeat;
	text-indent: -9999px;
	display: block;
}
#featured {
	margin: 0 auto;
	width: 320px;
	height: 200px;
	background: url('../images/featured.png') top center no-repeat;
	text-indent: -9999px;
	display: block;
}
/* for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
		h1.logo {
		margin: 0 auto;
		width: 232px;
		height: 86px;
		background: url('../images/fetch_logo_2x.png') top center no-repeat;
		background-size: 232px 86px;
		text-indent: -9999px;
		display: block;
	}
	#featured {
		margin: 0 auto;
		width: 320px;
		height: 200px;
		background: url('../images/featured_2x.png') top center no-repeat;
		background-size: 320px 200px;
		text-indent: -9999px;
		display: block;
	}
}
.pitch {
	margin: 20px auto;
	width: 70%;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
}
a.button {
	font-family: "Bree", helvetica, arial, sans-serif;
}
footer {
	margin: 40px 0;
	text-align: center;
}
.container {
	padding: 0;
}
.mmenu {
	/* padding: .5em; */
}
.mmenu ul {
	padding-top: 0;
}
.mmenu h1 {
	margin-left: 1em;
}
.mmenu h1,
.mmenu h1 a {
	color: rgba( 255, 255, 255, 0.6 );
	font-size: 20px;
}
.mmenu .logo {
  width: 140px;
  height: 50px;
  background-size: 100%;
}
.mmenu .logo {
  width: 140px;
  height: 50px;
  background-size: 100%;
}

.mmenu a.btn-default {
	background-color: white;
}
#main-header {
	padding: .5em;
	opacity: .97;
}
#main-header-left-btn {
float: left;
}
#main-header-right-btn {
	float: right;
}
#main-header-title {
	font-size: 2em;
	color: red;
	text-align: center;
	margin: auto 2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Hide header on landing page */
body.index #main-header {
	display: none;
}
.promoted {
}
.promoted img {
	max-width: 500px;
	width: 49%;
	display: block;
	float: left;
	overflow: hidden;
	margin-bottom: 1em;
	margin-left: .66666%;
}

.buttons {
	margin-top: 1em;
}

/* Browse */
.pet-container {
	list-style: none;
	margin: 0;
	padding: 0;
}
.summary {
	margin: 0 0 12px;
	height: 240px;
	background-color: #fff;
	-webkit-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.25);
box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.25);
}
.pet-container .pet-images {
	width: 100%;
	height: 180px;
	overflow: hidden;
	display: block;
    position: relative;
}
.pet-images::before {
    display: block;
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 1px -40px 60px -7px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 1px -40px 60px -7px rgba(0,0,0,0.7);
	box-shadow: inset 1px -40px 60px -7px rgba(0,0,0,0.7);
}
.pet-container .pet-images img {
	width: 100%;
	display: block;
}
.pet-actions {
	margin: -25px 0 0;
	height: 50px;
	display: block;
	font-size: 18px;
	text-align: center;
}
.pet-actions .btn {
	font-size: 18px;
}
.pet-favorite-link, .pet-share-link {
	background-image: url('../images/divider.png');
	background-repeat: no-repeat;
}
.pet-favorite-link {
	padding-right: 20px;
	background-position: right bottom;
}
.pet-share-link {
	padding-left: 20px;
	background-position: left bottom;
}
h2 {
	margin: 0 0 10px 8px;
	position: relative;
	bottom: 32px;
	left: 0;
	color: #e7e6e2;
	font-family: "Bree", helvetica, arial, sans-serif;
	font-size: 24px;
	z-index: 999;
}
#filter-settings h1 {
	padding-left: 65px;
}
#filter-settings .section {
	padding-left: 1em;
	padding-bottom: 1em;
}
#filter-settings #distance {
	margin-top: .5em;
}
#filter-settings #current-location {
	padding: 2px 2px;
	font-size: 1.4em;
	line-height: 1em;
}

/* Favorites */
.favorite-container {
  list-style: none;
  margin: 0;
  padding: 0;
}
.favorite-item {
  display: block;
}
.favorite-item
.favorite-item:link,
.favorite-item:hover {
  text-decoration: none;
}
.favorite-image {
  display: block;
  float: left;
  height: 200px;
  width: 200px;
}
.favorite-description {
  display: block;
  margin-left: 212px
}
.favorite-description h2 {
  color: #555;
}
.favorite-description p {
  color: #555;
}
.favorite-description p.available {
  color: #2c6;
  font-weight: bold;
}
.favorite-container .favorite-images img {
  width: 100%;
}
.favorite-container .favorite-images {
}

/* Info */
.breeder-map {
	width: 300px;
	margin: auto;
}

/* About */
body.about .container p {
  padding: 0 .5em;
  text-align: justify;
}

/* Contact */
body.contact .container p {
  padding: 0 .5em;
}

/* About */
body.about .container p {
  padding: 0 .5em;
  text-align: justify;
}

/* Contact */
body.contact .container p {
  padding: 0 .5em;
}

/* About */
body.about .container p {
  padding: 0 .5em;
  text-align: justify;
}

/* Contact */
body.contact .container p {
  padding: 0 .5em;
}

/* Profile */
body.user .btn {
  display: block;
  max-width: 6em;
  margin: auto;
}
